body{
    text-align: center;
    font-family: Verdana;
    margin: 0em;
}
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(133, 165, 235);
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li{
      text-decoration: none;
  }
  
  li.navItem {
    float: left;
  }
  
  li.navItem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li.navItem a:hover {
    background-color: rgb(221, 236, 200);
  }
  #container{
      border-radius: 2%;
      margin: 1em;
      padding: 1em;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }
  .bio{
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(31, 0, 0);
    padding: 2em;
  }
  #about{
    width: 100%;
  }
  .header, .section{
    padding: 2em;
  }

  /* Mobile Styles */
  
@media only screen and (max-width: 400px) {
  
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  
}
